{% if page_obj.paginator.num_pages > 1 %}
<nav class="mt-4" aria-label="Pages">
    <ul class="pagination justify-content-center">
        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            {% if page_obj.has_previous %}
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% else %}
            <span class="page-link" tabindex="-1" aria-disabled="true">Previous</span>
            {% endif %}
        </li>
        {% for num in page_obj.paginator.page_range %}
        <li class="page-item {% if num == page_obj.number %}active{% endif %}">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endfor %}
        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            {% if page_obj.has_next %}
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            {% else %}
            <span class="page-link" tabindex="-1" aria-disabled="true">Next</span>
            {% endif %}
        </li>
    </ul>
</nav>
{% endif %}
